
<h2>Lista de Horarios</h2>
<table>
    <tr>
        <th>ID</th>
        <th>ID de Ruta</th>
        <th>Días de la Semana</th>
        <th>Hora de Inicio</th>
        <th>Hora de Fin</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let horario of horarios">
        <td>{{ horario.id }}</td>
        <td>{{ horario.rutaId }}</td>
        <td>{{ horario.diasDeLaSemana.join(', ') }}</td>
        <td>{{ horario.horaInicio }}</td>
        <td>{{ horario.horaFin }}</td>
        <td>
            <button (click)="deleteHorario(horario.id)">Eliminar</button>
        </td>
    </tr>
</table>
<a routerLink="/horarios/create">Crear Horario</a>
