<div class="container">
    <h2>Asignaciones</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Bus</th>
          <th>Conductor</th>
          <th>Ruta</th>
          <th>Horario</th>
          <th>Fecha de Asignación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asignacion of asignaciones">
          <td>{{ asignacion.id }}</td>
          <td>{{ asignacion.busId }}</td>
          <td>{{ asignacion.conductorId }}</td>
          <td>{{ asignacion.rutaId }}</td>
          <td>{{ asignacion.horarioId }}</td>
          <td>{{ asignacion.fechaAsignacion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  