<div>
    <h2>Asignaciones</h2>
    <label for="conductorId">Conductor ID:</label>
    <input type="number" id="conductorId" [(ngModel)]="nuevoAsignacion.conductorId" name="conductorId" required>

    <label for="busId">Bus ID:</label>
    <input type="number" id="busId" [(ngModel)]="nuevoAsignacion.busId" name="busId" required>

    <label for="rutaId">Ruta ID:</label>
    <input type="number" id="rutaId" [(ngModel)]="nuevoAsignacion.rutaId" name="rutaId" required>

    <label for="dias">Días:</label>
    <input type="text" id="dias" [(ngModel)]="nuevoAsignacion.dias" name="dias" required>

    <button type="submit">Crear Asignación</button>
    
  
    <h3>Lista de Asignaciones</h3>
    <ul>
      <li *ngFor="let asignacion of (asignaciones$ | async)">
        ID: {{asignacion.id}}, Conductor: {{asignacion.conductorId}}, Bus: {{asignacion.busId}}, Ruta: {{asignacion.rutaId}}, Días: {{asignacion.dias.join(', ')}}
      </li>
    </ul>
  </div>