<div class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" style="font-weight: bold;">{{ title }}</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/">Inicio</a>
    <a routerLink="/conductores">Conductores</a>
    <a routerLink="/buses">Buses</a>
    <a routerLink="/rutas">Rutas</a>
    <a routerLink="/horarios">Horarios</a>
    <a routerLink="/asignaciones">Asignaciones</a>
  </div>
</div>

<div class="container">
  <h1>{{ message }}</h1>
  <p>Bienvenido al sistema de gestión de transporte. Elige una de las secciones para gestionar:</p>

  <div class="crud-links">
    <a routerLink="/conductores" class="crud-link">Gestionar Conductores</a>
    <a routerLink="/buses" class="crud-link">Gestionar Buses</a>
    <a routerLink="/rutas" class="crud-link">Gestionar Rutas</a>
    <a routerLink="/horarios" class="crud-link">Gestionar Horarios</a>
    <a routerLink="/asignaciones" class="crud-link">Gestionar Asignaciones</a>
  </div>
</div>

<router-outlet></router-outlet>