<form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">

    <div *ngIf="horarioData!= undefined">
        <label for="id">ID:</label>
        <input id="id" type="number" formControlName="id" required>
    </div>
    <div>
        <label>Días de la Semana:</label>
        <div *ngFor="let dia of diasDeLaSemana; let i = index">
            <input type="checkbox" [value]="dia" [checked]="horarioForm.get('diasDeLaSemana')!.value.includes(dia)"
                (change)="onCheckboxChange($event, dia)" /> {{ dia }}
        </div>
        <div *ngIf="horarioForm.controls.diasDeLaSemana.invalid && (horarioForm.controls.diasDeLaSemana.dirty || horarioForm.controls.diasDeLaSemana.touched)"
            class="alert">
            Debe seleccionar al menos un día.
        </div>
    </div>

    <label for="horaInicio">Hora de Inicio (HH:mm):</label>
    <input id="horaInicio" type="time" formControlName="horaInicio" required>
    <div *ngIf="horarioForm.controls.horaInicio.invalid && (horarioForm.controls.horaInicio.dirty || horarioForm.controls.horaInicio.touched)"
        class="alert">
        <div *ngIf="horarioForm.controls.horaInicio.errors?.['required']">La hora de inicio es obligatoria.</div>
        <div *ngIf="horarioForm.controls.horaInicio.errors?.['pattern']">La hora de inicio debe estar en formato HH:mm.
        </div>
    </div>

    <label for="horaFin">Hora de Fin (HH:mm):</label>
    <input id="horaFin" type="time" formControlName="horaFin" required>
    <div *ngIf="horarioForm.controls.horaFin.invalid && (horarioForm.controls.horaFin.dirty || horarioForm.controls.horaFin.touched)"
        class="alert">
        <div *ngIf="horarioForm.controls.horaFin.errors?.['required']">La hora de fin es obligatoria.</div>
        <div *ngIf="horarioForm.controls.horaFin.errors?.['pattern']">La hora de fin debe estar en formato HH:mm.</div>
    </div>

    <button type="submit" >Guardar Horario</button>
</form>